<!-- sidebar.component.html -->
<div class="sidebar">

  <div>

    <h2>Authors of the Week</h2>
    <ul>
      <li *ngFor="let author of authors" class="author-item">
        <img src="{{ author.profilePic }}" alt="Profile Picture" class="author-img">
        <!-- Turn the name into a link -->
        <a href="#" class="author-name">{{ author.name }}</a>
      </li>
    </ul>

  </div>

  <div>
    <h2>Authors of the Week</h2>
    <li *ngFor="let author of authors" class="author-item">
        <img src="{{ author.profilePic }}" alt="Profile Picture" class="author-img">
        <!-- Turn the name into a link -->
        <a href="#" class="author-name">{{ author.name }}</a>
      </li>

  </div>

  </div>
